[Unit]
Description=googlefeed queue

[Service]
User= googlefeed
WorkingDirectory= /home/googlefeed/public_html/laravel
ExecStart= php artisan queue:work --queue=high,medium,low,,default --daemon
Restart= always

[Install]
WantedBy=multi-user.target